button {
  font: inherit;
  border: 1px solid #2dbe60;;
  background: #2dbe60;
  color: white;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
  /* margin-top: 1rem; */
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
  height: 2.5rem;
}

button:hover,
button:active {
  background: #28a955;
  border-color: #28a955;
}

.button-cancel {
  padding: 0 4rem;
  margin-right: 10px;
  background-color: #ececec;
  color: #606060;
  border: 1px solid #D9D9DA;
}

.button-cancel:hover {
  background-color: #d9d9d9;
  border: 1px solid #d1d1d1;
}


button:focus {
  outline: none;
}

button remove {
  background-color: red;
  width: 50%;
}

.create-new-button {
  color: white;
  border: 1px solid #F0A00C;
  background-color: #F0A00C;
}

.create-new-button:hover {
  color: white;
  background-color: rgb(223, 144, 9);
  border: 1px solid rgb(223, 144, 9);
}
