button {
  font: inherit;
  border: 1px solid #2dbe60;;
  background: #2dbe60;
  color: white;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
}

button:hover,
button:active {
  background: #28a955;
  border-color: #28a955;
}

button:focus {
  outline: none;
}

button remove {
  background-color: red;
  width: 50%;
}
