.header {
  background-color: #28A955;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  padding-left: 16px;
  /* font-weight: bold; */
  font-size: 2.5rem;
}
