* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  /* background-color: #1f1f1f; */
  /* color: white; */
}

body {
  margin: 0;
}

form input {
  border-radius: 4px;
  padding: 4px 12px;
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: auto;
  width: 100%;
  /* border: 1px solid pink; */
}

.search-add-container {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
