.title {
  height: 100px;
  border-bottom: 1px solid #ECECEC;
}

.title:hover {
  background-color: #48BC6C;
  color: white;
}


.add-note-icon {
  border: 1px solid #4DC674;
  background-color: white;
  color: #4DC674;
  padding: 0.5rem;
  border-radius: 50%;
}

.add-note-icon:hover {
  color: white;
  background-color: #28A955;
}

.left-panel {
  display: flex;
  width: 20%;
}

@media screen and (max-width: 2000px) {
  .left-panel {
    width: 35%;
  }

  .title {
    min-height: 130px;
  }
}

.title-panel {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
