.card-container {
  /* margin: auto; */
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* margin-top: 20px; */
  background-color: rgba(211, 211, 211, 0.436);
  /* padding: 10px 0; */
}

.notes-main-screen {
  display: flex;
  width: 75%;
}

.titles-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: bisque;
  width: 25%;
}


.titles-container {
  background-color: pink;
  /* color: black; */
  width: 98%;
  min-height: 120px;
  display: flex;
  margin: 10px 0;
}



.note-container {
  background-color: white;
  /* color: black; */
  width: 98%;
  min-height: 120px;
  display: flex;
  margin: 10px 0;
}

.name-container {
  border-right: 1px rgba(155, 153, 153, 0.422) solid;
  /* border-bottom: 1px green solid; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 6px;
}

.body {
  width: 75%;
  /* border-bottom: 1px green solid; */
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.body-modify-input {
  width: 100%;
  min-height: 120px;
  margin: auto;
}
